@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .app__flex {
      @apply flex justify-center items-center
    }

    .app__wrapper {
        @apply flex-1 w-full flex-col pt-16 px-4 pb-8 sm:py-16 px-8
    }

    .app__container {
        @apply w-full min-h-screen flex flex-row
    }

    .copyright {
        @apply w-full pt-8 flex flex-col justify-end items-end
    }
    
    .p-text {
        @apply text-[0.8rem] sm:text-base md:text-lg ml:text-xl lg:text-2xl text-left text-gray leading-[1.5]
    }

    .head-text {
        @apply text-[1rem] sm:text-[1.75rem] md:text-[2rem] ml:text-4xl font-extrabold text-center text-black capitalize
    }

    .bold-text {
        @apply text-sm sm:text-base font-extrabold text-black text-left
    }

    .socials-div {
        @apply w-10 h-10 rounded-full bg-white my-1 border-[1px] border-lightGray flex justify-center items-center transition-all duration-300 ease-in-out hover:bg-secondary hover:border-secondary cursor-pointer
    }

    .form-inputs {
        @apply w-full p-6 rounded-lg bg-transparent border-2 border-secondary resize-none
    }
}

.app__navbar {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: fixed;
    z-index: 2;
}